<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recommendations</title>
  </head>
  <body>
      <h1>Hello from the recommendations PAGE!!</h1>
  </body>
</html>
