<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="container svg">
      <br>

      <h1><%= link_to 'Welcome!', categories_path, :style => 'color: rgb(111, 122, 16)'%></h1>
      <p>Take a moment to educate yourself on wine</p>
      <hr id="hrmain">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>White Flavor Profiles</h3>
            <br>
            <img src="https://i.pinimg.com/564x/60/0a/a6/600aa61a16d18ea2771c8598de9e7194.jpg" alt="">
          </div>
          <div class="col">
            <h3>Red Flavor Profiles</h3>
            <br>
            <img src="https://i.pinimg.com/564x/fc/81/b7/fc81b7a9bbb2c63d2ab5d6f4841ab3fc.jpg" alt="">
          </div>
          <div class="w-100"><hr></div>
   <div class="col">
     <h3>Food Pairings</h3>
     <br>
   <img src="https://i.pinimg.com/564x/ea/57/f5/ea57f51bafa70c550c3ec724235e1096.jpg" alt="">
   </div>
   <div class="col">
     <h3>Benefits</h3>
     <br>
     <img src="https://i.pinimg.com/564x/e4/f7/cb/e4f7cb08a5b69b69c80a38036f14ba6b.jpg" alt="">
   </div>
        </div>
<hr>
<br>
        <!-- https://i.pinimg.com/564x/4c/c7/17/4cc717fedb28039713f1d55d2f52b115.jpg -->
        <!-- https://i.pinimg.com/564x/61/ea/2d/61ea2d096f9bb29ca541a407c8be6462.jpg -->
      </div>

      <div class="container svg">

      </div>

    </body>
  </html>
