
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2><%= link_to @varietal.name, varietals_path %></h2>
      <p>
        <h4> <u><b>Characteristics: </b></u></h4>
         <%= @varietal.description %><hr>
         <h2>Pinot Noir Colors</h2>
         <%= image_tag 'http://www.princeofpinot.com/media/images/10_16/10_16-71.jpg' %>
       </p>


    </div>
  </body>
</html>
